@import url(https://fonts.googleapis.com/css?family=Cabin:400,600);
body{
    font-family: 'Cabin', sans-serif;
    color: #424a4f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
p,li{
    font-size: 1.5em;
}


h1{
    font-size: 4em;
    margin-bottom: 0;
}
p a{
  color: #97cb9b;
}

h3 a{
  color: #97cb9b;
}
a h3{
  color: #97cb9b;
}

a{
    color: #424a4f;
}
a:hover{
    color: #97cb9b;
}


h3{
    margin-top: 0;
}
.gray{
    background-color: #424a4f;
    color: white;
}
